<!-- <nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top"> -->
<nav class="navbar navbar-dark fixed-top" style="background-color: #673ab7;">

    <div class="container-fluid">
        <div class="topnav-left">
            <ul>
                <li>
                    <a class="navbar-brand">E-Ticket Generation</a>
                </li>
            </ul>
        </div>

<!--AdmloggedIn-->


        <div class="topnav-right">
            <ul>

                <li *ngIf="authService.loggedIn == true" >
                    <a class="btn btn-danger navbar-btn" [routerLink]="['/']" class="navbar-brand">LogOut </a>
                </li>

            </ul>
        </div>
    </div>
</nav>