<!--<form [formGroup]="newTicket" (ngSubmit)="submitForm();">
    
    
    <!-- <div class="form-group">
      <label for="PLU">Ticket PLU:</label>
      <input formControlName="PLU" type="text" id="PLU" class="form-control">          
      <span *ngIf="newTicket.get('PLU').errors['required']">This field is required.</span>
    <span *ngIf="newTicket.get('PLU').errors['minlength']">Minimum 5 characters</span>
          
    
    </div> 
      

    



    
    <div class="form-group">
        <input type="file" (change)="uploadFile($event)">    
    </div>

    
    <button class="btn btn-primary"  type="submit" [disabled]="!newTicket.valid">Submit</button>
  </form>-->



<!--
    https://www.positronx.io/angular-file-upload-with-progress-bar-tutorial/
  https://www.ahmedbouchefra.com/blog/angular-tutorial-example-upload-files-with-formdata-httpclient-rxjs-and-material-progressbar/
  https://w3path.com/new-angular-8-file-upload-or-image-upload/
  https://stackoverflow.com/questions/4234589/validation-of-file-extension-before-uploading-file/4237161
  https://merlosy.github.io/ngx-material-file-input/
  
  -->

<!-- PLU-->
<!-- <div class="example-container">
    <mat-form-field hintLabel="Max 20 characters">
      <input matInput #input maxlength="20" placeholder="PLU">
      <mat-hint align="end">{{input.value?.length || 0}}/20</mat-hint>
    </mat-form-field>

  </div> -->



<!-- V2
<form [formGroup]="newTicket" (ngSubmit)="submitForm();">


  <div class="example-container">

    <div class="example-container2">
      <div class="example-container3">

        <mat-form-field hintLabel="20 characters required">
          <input matInput #input maxlength="20" placeholder="PLU" formControlName="PLU">
          <mat-error>
            Number of characters: {{newTicket.get("PLU").value?.length}}. Required: 20 Characters
          </mat-error>
        </mat-form-field>
      </div>
    </div>


    <div class="example-container2">
      <div class="example-container3">

        <mat-form-field hintLabel="Upload a template">
          <ngx-mat-file-input #removableInput formControlName="Thefile" placeholder="Click Me"></ngx-mat-file-input>
          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
        </mat-form-field>
      </div>

    </div>

    <div class="example-container2">

      <button mat-button class="btn btn-primary" type="submit" [disabled]="!newTicket.valid">Submit</button>
    </div>


  </div>
</form>

-->



<mat-horizontal-stepper linear labelPosition="bottom" #stepper>


  <mat-step [stepControl]="firstFormGroup" [completed]="false">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Upload Template</ng-template>

      <div class="example-container4">

        <mat-form-field hintLabel="Upload a template" hintLabel="Must be PDF">
          <ngx-mat-file-input #removableInput formControlName="Thefile" placeholder="Click Me"
            (change)="uploadFile($event)"> </ngx-mat-file-input>

          <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
            <mat-icon>clear</mat-icon>
          </button>
          <mat-error>Please Upload File</mat-error>
        </mat-form-field>

        <span *ngIf="extension" style="color: red;">Invalid File Type</span>

        <!-- <span *ngIf=" firstFormGroup.get('Thefile').touched && firstFormGroup.get('Thefile').errors">Cannot accept blanks</span> -->





        <div>
          <button mat-raised-button color="primary" [disabled]="extension" matStepperNext>Next</button>
        </div>

      </div>
    </form>

  </mat-step>




  <mat-step [stepControl]="secondFormGroup" [completed]="false">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Add PLU(s)</ng-template>

      <div class="example-containerF">
        <div class="example-container5">
          <!-- 
          <mat-form-field>
            <input matInput placeholder="PLU" formControlName="secondCtrl" required>
          </mat-form-field> -->



          <mat-form-field hintLabel="20 characters required">
            <input matInput #input maxlength="20" placeholder="PLU" formControlName="secondCtrl">
            <mat-error *ngIf="secondFormGroup.get('secondCtrl').value?.length != 20 ">
              Number of characters: {{secondFormGroup.get("secondCtrl").value?.length}}. Required: 20 Characters
            </mat-error>

            <mat-error *ngIf="secondFormGroup.get('secondCtrl').value?.length==20 &&duplicate" style="color: red;">
              Already Exist at Position: {{dupPosition +1}}</mat-error>

          </mat-form-field>



          <div>
            <!-- extra button to add additional plu-->
            <button mat-raised-button color="primary" [disabled]="secondFormGroup.get('secondCtrl').value?.length < 20 "
              (click)="Add()">Add</button>
          </div>
          <br>
          <!-- <div *ngIf="duplicate">
            <span style="color: red;"> Already Exist at Position: {{dupPosition +1}}</span>
          </div> -->
        </div>

        <span *ngFor="let item of listofPlu;let i = index" class="example-container6">
          PLU {{i + 1}}:
          {{item }}
        </span>
        <br>



        <div>



          <button mat-stroked-button color="primary" matStepperPrevious>Back</button>
          <!-- <button mat-button matStepperNext *ngIf="this.listofPlu.length > 0">Next</button> -->
          <button mat-stroked-button color="primary" matStepperNext
            [disabled]="this.listofPlu.length == 0">Next</button>
        </div>
      </div>

    </form>


  </mat-step>






  <mat-step [completed]="false">
    <ng-template matStepLabel>Review</ng-template>

    <div class="example-container7">
      <!-- <div> Review</div> -->

      <span class= "example-containerCenter" > Review</span>

      <div class="example-container6" *ngIf="listofPlu.length > 0">

        <div class="filecontainer">
          FileName: {{this.newTicket.get("Thefile").value.name}}
        </div>



        <!-- <div class="example-container7">
          PDF: {{this.newTicket.get("Thefile").value.file}}
        </div> -->
        <div *ngFor="let item of listofPlu; let i=index">
          <span> PLU {{i+1}}: {{item}}<br> </span>
        </div>
      </div>



      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="submitForm()" [routerLink]="['/Ticket']">submit</button>
      </div>
    </div>


  </mat-step>


</mat-horizontal-stepper>